In [1]:
# preamble imports
import pandas as pd
import numpy as np
np.set_printoptions(precision=8)
import seaborn
from matplotlib import pyplot as plt
import statistics

# Assignment 1 - Descriptive Statistics

#### Patrick Pfenning
#### 01/11/23

Basic Python
---

In [2]:
"""Using the statistics module"""
# Set data
data = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
# Find mean
statistics.mean(data)

3

In [3]:
# Find median
statistics.median(data)

3.0

In [4]:
# Find mode
statistics.mode(data)

4

In [5]:
# Summarize data
from dataclasses import dataclass, field

"""Python 3.10 has no describe function, so I made my own class to do the same."""

@dataclass
class DescribeResults:
    """Class for describing data"""
    data: list = field(repr=False, default_factory=list)

    mean: float = field(init=False)
    median: float = field(init=False)
    mode: float = field(init=False)
    variance: float = field(init=False)
    stdev: float = field(init=False)
    minmax: tuple = field(init=False)
    sum: float = field(init=False)

    def __post_init__(self):
        self.mean = statistics.mean(self.data)
        self.median = statistics.median(self.data)
        self.mode = statistics.mode(self.data)
        self.variance = statistics.variance(self.data)
        self.stdev = statistics.stdev(self.data)
        self.minmax = (min(data), max(data))
        self.sum = sum(data)

DescribeResults(data)

DescribeResults(mean=3, median=3.0, mode=4, variance=1.1111111111111112, stdev=1.0540925533894598, minmax=(1, 4), sum=30)

In [6]:
"""Using the numpy module"""
# mean
np.mean(data)

3.0

In [7]:
# median
np.median(data)

3.0

In [8]:
# std. deviation
np.std(data)

1.0

Descriptive Stats
---

In [15]:
# get data
df = pd.read_csv('../data/wine.csv').set_index('unique_id', drop=True)
df.head()

,class,alcohol_percentage,malic_acid,ash,alcalinity,magnesium,phenols,flavanoids,nonflavanoids,proanthocyanins,color,hue,price_usd
unique_id,,,,,,,,,,,,,
593,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,1065
617,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,1050
782,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,1185
990,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,1480
822,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,735

array([1, 2, 3], dtype=int64)