In [1]:
# preamble imports
import pandas as pd
import numpy as np
np.set_printoptions(precision=8)
import seaborn
from matplotlib import pyplot as plt
import statistics

# Assignment 1 - Descriptive Statistics

#### Patrick Pfenning
#### 01/11/23

Basic Python
---

In [2]:
"""Using the statistics module"""
# Set data
data = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
# Find mean
statistics.mean(data)

3

In [3]:
# Find median
statistics.median(data)

3.0

In [4]:
# Find mode
statistics.mode(data)

4

In [5]:
# Summarize data
from dataclasses import dataclass, field

"""Python 3.10 has no describe function, so I made my own class to do the same."""

@dataclass
class DescribeResults:
    """Class for describing data"""
    data: list = field(repr=False, default_factory=list)

    mean: float = field(init=False)
    median: float = field(init=False)
    mode: float = field(init=False)
    variance: float = field(init=False)
    stdev: float = field(init=False)
    minmax: tuple = field(init=False)
    sum: float = field(init=False)

    def __post_init__(self):
        self.mean = statistics.mean(self.data)
        self.median = statistics.median(self.data)
        self.mode = statistics.mode(self.data)
        self.variance = statistics.variance(self.data)
        self.stdev = statistics.stdev(self.data)
        self.minmax = (min(data), max(data))
        self.sum = sum(data)

DescribeResults(data)

DescribeResults(mean=3, median=3.0, mode=4, variance=1.1111111111111112, stdev=1.0540925533894598, minmax=(1, 4), sum=30)

In [6]:
"""Using the numpy module"""
# mean
np.mean(data)

3.0

In [7]:
# median
np.median(data)

3.0

In [8]:
# std. deviation
np.std(data)

1.0

Data Preparation
---

Before telling our story, we must first clean our data.

In [31]:
# get data
df = pd.read_csv('../data/wine.csv').set_index('unique_id', drop=True)
# transpose for better visibility
df.T.iloc[:, :5]

unique_id               593      617      782      990     822
class                  1.00     1.00     1.00     1.00    1.00
alcohol_percentage    14.23    13.20    13.16    14.37   13.24
malic_acid             1.71     1.78     2.36     1.95    2.59
ash                    2.43     2.14     2.67     2.50    2.87
alcalinity            15.60    11.20    18.60    16.80   21.00
magnesium            127.00   100.00   101.00   113.00  118.00
phenols                2.80     2.65     2.80     3.85    2.80
flavanoids             3.06     2.76     3.24     3.49    2.69
nonflavanoids          0.28     0.26     0.30     0.24    0.39
proanthocyanins        2.29     1.28     2.81     2.18    1.82
color                  5.64     4.38     5.68     7.80    4.32
hue                    1.04     1.05     1.03     0.86    1.04
price_usd           1065.00  1050.00  1185.00  1480.00  735.00

In [32]:
# standardization (maps quantitative values to a bell curve with mean 0)
df_norm = df.iloc[:, 1:-1].copy()
df_norm = (df_norm-df_norm.mean())/df_norm.std()
df_norm.T.iloc[:, :5]

unique_id                593       617       782       990       822
alcohol_percentage  1.514341  0.245597  0.196325  1.686791  0.294868
malic_acid         -0.560668 -0.498009  0.021172 -0.345835  0.227053
ash                 0.231400 -0.825667  1.106214  0.486554  1.835226
alcalinity         -1.166303 -2.483841 -0.267982 -0.806975  0.450674
magnesium           1.908522  0.018094  0.088110  0.928300  1.278379
phenols             0.806722  0.567048  0.806722  2.484437  0.806722
flavanoids          1.031908  0.731565  1.212114  1.462399  0.661485
nonflavanoids      -0.657708 -0.818411 -0.497005 -0.979113  0.226158
proanthocyanins     1.221438 -0.543189  2.129959  1.029251  0.400275
color               0.251009 -0.292496  0.268263  1.182732 -0.318377
hue                 0.361158  0.404908  0.317409 -0.426341  0.361158