In [11]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

df = pd.read_csv('../data/flood.csv').set_index('uk_post_codes', drop=True)
df

               claims  properties  amount_paid
uk_post_codes
HD6 1              19          20        92180
HD6 2               1           1         5000
HD6 3               1           1         5000
HD6 4               5           5        12758
HX2 6              15          20        95384
HX2 8               1           2        10000
HX3 5              13          50       243402
HX3 6               1           1          891
HX3 7               2           2         7703
HX3 9               1           1         5000
HX4 0               1           9        45000
HX4 8               3           3        10500
HX5 0               6           7        35000
HX5 9               9          14        69932
HX6 1               4           4        15300
HX6 2              10          11        38558
HX6 3              51          52       227748
HX6 4               2           2         9500
HX7 5              51          78       363258
HX7 6              54          66       289082
HX7 7              10          10        46905
HX7 8             122         125       528462
OL14 5             21          21        94102
OL14 6             29          35       180500
OL14 7             42          42       193442
OL14 8              5           6        27098

In [12]:
corr = df.corr()
mask = np.triu(np.ones_like(corr, dtype=bool))